#page_nav {
    background-color: pink;
}

ul {
    margin: 0;
    text-align: center;
}

.dropbtn {
    font-family: 'Concert One', cursive;
    font-weight: bold;
    background-color: lemonchiffon;
    color: black;
    padding: 10px;
    font-size: 32px;
    border: none;
    cursor: pointer;
}

.dropdown {
    padding: 10px;
    margin: 20px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 320px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#page_nav ul li {
    align-items: center;
    display: inline-block;
    padding: 10px;
    margin: 20px;
    background-color: lemonchiffon;
}

.logo {
    text-align: center;
    padding: 15px;
}

#page_header {
    background-size: cover;
    height: 400px;
    background: url('https://i.imgur.com/dwx8whR.jpg') no-repeat center 50%;
}

#Pages {
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
    margin: 16px;
    color: black;
}

#header_1 {
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 20px;
    background-color: #ff8e6e;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#header_2 {
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 20px;
    background-color: #40a8c4;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#header_3 {
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 20px;
    background-color: #c862e7;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
body {
    font-family: 'Concert One', cursive;
}

.search {
    font-size: 32px;
    width: 40%;
    background-color: white;
    margin-left: 16%;
    padding: 10px;
}

#image_1 {
    width: 15%;
    display: inline-block;
    border: solid 4px black;
    margin-left: 2%;
    margin-right: 2%;
    background-color: lightgray;
}

#image_2 {
    width: 15%;
    margin-top: 40px;
    display: inline-block;
    border: solid 4px black;
    margin-left: 2%;
    margin-right: 2%;
    background-color: lightgray;
}

body {
    background-color: #edffec;
}

#more {
    text-align: right;
    margin-bottom: 10px;
}

#text {
    text-decoration: none;
    color: gray;
}

#text:hover {
    color: blue;
    text-decoration: underline;
}

#title {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

p {
    text-align: center;
    font-size: 16px;
}

footer {
    background-color: pink;
    margin-top: 50px;
    padding-bottom: 20px;
    padding-top: 10px;
}

#icon {
    text-align: center;
}

#fb {
    display: inline-block;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
}

#yt {
    display: inline-block;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
}

#tw {
    display: inline-block;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
}

#about_us_page {
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
}

#about_us {
    display: inline-block;
    text-align: center;
}

#info {
    display: inline-block;
    text-align: center;
}

#contact_us_page {
    text-align: center;
}

#para {
    display: inline-block;
    text-align: center;
}

#Contact {
    display: inline-block;
    text-align: center;
    font-size: 20px;
}

@media screen and (max-width: 1200px) {
    .dropbtn {
        padding: 5px;
        font-size: 28px;
    }
    .dropdown {
        padding: 5px;
        margin: 10px;
    }
    .dropdown-content {
        min-width: 280px;
    }
    #page_nav ul li {
        padding: 5px;
        margin: 10px;
    }
    #Pages {
        font-size: 28px;
        margin: 8px;
    }
    .search {
        font-size: 28px;
        width: 20%;
        margin: 10px;
        margin-left: 5%;
        padding: 5px;
    }
}